# 忽略所有文件和目录
*

# 不忽略 Python 代码文件
!.py

# 不忽略 JSON 文件
!.json

# 不忽略.gitignore 文件本身
!.gitignore

# 不忽略名为 "utils" 的目录及其子目录中的 Python 文件
utils/*.py
utils/**/*.py

# 不忽略名为 "config" 的目录中的 JSON 文件
config/*.json

# 忽略名为 "data" 的目录及其所有子目录
data/